include "window_rules.kdl"
include "keybindings.kdl"

spawn-at-startup "waybar"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots from %Y-%m-%d %H-%M-%S.png"


animations {
    workspace-switch {
      off
    }
}

input {
    keyboard {
        xkb {
            layout "us,mm"
            options "grp:win_space_toggle,compose:ralt"
        }
        numlock
    }

    touchpad {
        tap
    }
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

